<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EWCCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>EWCCoreIOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>EWCLib copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>EWCLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EWCScreencast.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EWCServiceLocator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>EWCServiceLocatorIOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Screencast.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ServiceLocatorApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ServiceLocatorTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SimpleScreencastClient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>SimpleScreencastServer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD18635D20345CE700233413</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD18637020345DE700233413</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD924455201F119100A5B093</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD92446B201F119200A5B093</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD924476201F119200A5B093</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD93E55820351BC400FD5EC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDA5446A20341746001D0D0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDBC290E2035156D007B975D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FDBC2933203515F9007B975D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
